body{
  font-family: 'Saira Semi Condensed', sans-serif !important;
  background-color: #FAEBD7 !important
}

#app-header h1{
  font-size: 4em;
  font-weight: 800;
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
}

#options-container {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 4%;
  align-content: center;

}

.dropDownForm {
  padding: 3%;
}



.dropDownForm input[type="radio"]{
  margin-right: 5px;
}

#options-container h3{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

#c {
  background-color: green;
  border-radius: 20px 0 0 20px;
}

#d {
  background-color: blue 
}

#e {
  background-color: purple 
}

#f {
  background-color: red 
}

#g {
  background-color: orange
}

#a {
  background-color: yellow
}

#b {
  background-color: pink
}

#c5 {
  background-color: lightblue;
  border-radius: 0 20px 20px 0;
}

#notes_table {
  max-height: 700px;
  max-width: 2000px;
}

#notes-table td{
  height: 300px;
  width: 500px;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
}

#notes-container{
    margin: 0 auto;
    max-width: 75%;
    height: 50%;
    margin-top: 5%;
}


